name: Build and check

on:
  pull_request:

permissions:
  contents: read

concurrency:
  group: 'build-doc-${{ github.ref }}'  # This ensures concurrency for the same branch or PR
  cancel-in-progress: true  # This cancels any in-progress execution when a new commit is done on the same branch

jobs:
  build-doc:
    name: Build documentation
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 21
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build documentation website
        # Check paths are valid, markdown, etc.
        run: yarn build
      - name: Check links
        # exceptions can be added in .lycheeignore file
        id: lychee
        uses: lycheeverse/lychee-action@82202e5e9c2f4ef1a55a3d02563e1cb6041e5332 # v2.4.1
        with:
          fail: true
          failIfEmpty: true
          jobSummary: true
          args: build --root-dir=${{ github.workspace }}/build --verbose --no-progress --max-redirects=20
